// Override default variables
$primary: #555f6a;

// Import common settings
@import "common";

// Customize
body {
    background-color: #fefcfd;
    font-family: "Helvetica Neue",
        "Arial",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "BIZ UDPGothic",
        "Meiryo",
        sans-serif;
}

.background {
    background-color: #fefcfd;
}

.m3-container {
    background-color: #eae9eb;
    border-radius: 9px;
    box-shadow: 0px .75px 4px rgba(0, 0, 0, 0.3);
}

.modal-content {
    border: none;
    border-radius: 9px;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}
