{%- extends "base.html" -%}
{%- block content -%}
<div id="editInner">
    {%- include "edit_inner.html" -%}
</div>
<script type="text/javascript">
    function changed(mid) {
        const point0Default = document.getElementById('point0Default' + mid);
        const point1Default = document.getElementById('point1Default' + mid);
        const point0Input = document.getElementById('point0Input' + mid);
        const point1Input = document.getElementById('point1Input' + mid);
        const saveBtn = document.getElementById('saveBtn' + mid);
        if (!Number.isInteger(Number(point0Input.value)) || !Number.isInteger(Number(point1Input.value))) {
            saveBtn.disabled = true;
            return;
        }
        if (point0Default.value == point0Input.value && point1Default.value == point1Input.value) {
            saveBtn.disabled = true;
            return;
        }
        saveBtn.disabled = false;
    }

    function hide(mid) {
        const point0Default = document.getElementById('point0Default' + mid);
        const point1Default = document.getElementById('point1Default' + mid);
        const point0Input = document.getElementById('point0Input' + mid);
        const point1Input = document.getElementById('point1Input' + mid);
        const saveBtn = document.getElementById('saveBtn' + mid);
        const spinner = document.getElementById('spinner' + mid);
        point0Input.value = point0Default.value;
        point1Input.value = point1Default.value;
        saveBtn.disabled = true;
        spinner.classList.add('d-none');
    }

    function save(mid) {
        const point0Input = document.getElementById('point0Input' + mid);
        const point1Input = document.getElementById('point1Input' + mid);
        const xBtn = document.getElementById('xBtn' + mid);
        const saveBtn = document.getElementById('saveBtn' + mid);
        const cancelBtn = document.getElementById('cancelBtn' + mid);
        const spinner = document.getElementById('spinner' + mid);
        const tid = document.getElementById('tid' + mid);
        const matchName = document.getElementById('matchName' + mid);
        const editInner = document.getElementById('editInner');
        xBtn.disabled = true;
        saveBtn.disabled = true;
        cancelBtn.disabled = true;
        spinner.classList.remove('d-none');
        const data = { tournaments: {} };
        data['tournaments'][tid.value] = {};
        data['tournaments'][tid.value][matchName.value] = [Number(point0Input.value), Number(point1Input.value)];
        const opt = {};
        opt['method'] = 'POST';
        opt['body'] = JSON.stringify(data);
        fetch('', opt)
            .then(response => {
                return response.text();
            })
            .then(content => {
                xBtn.disabled = false;
                cancelBtn.disabled = false;
                cancelBtn.click();
                editInner.innerHTML = content;
            })
            .catch(error => {
                console.log(error);
                spinner.classList.add('d-none');
                xBtn.disabled = false;
                saveBtn.disabled = false;
                cancelBtn.disabled = false;
                alert('何かがおかしい');
            });
    }
</script>
{%- endblock -%}
